body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header-image {
	background-image: linear-gradient(rgba(0, 0, 1, 0.66), rgba(1, 1, 1, .97));
}

.is-nav-padded {
	padding-left: 150px;
	padding-right: 150px;
}

.iden {
	color: orange;
	border: solid green;
}

#page.scrollhid {
	width: 100%;
	height: 100%;
	overflow: auto;
	padding-right: 0px;
	/* exact in js */
}

html.scrollhid {
	overflow: hidden;
}

.copyver-padding {
	padding: 1px;
	padding-right: 5px;
}

.social-media-icons .icon {
    display: inline-block;
    font-size: 42px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    vertical-align: top;
    width: 48px;
}

.social-media-icons span a i {
	color: #c4d8f0;
	opacity: 0.65;
}

.social-media-icons span a i:hover {
	color: #3070b0;
	opacity: 1;
}

/*
.fa-facebook {
	background:#3b5998
}
.fa-linkedin {
	background:#007bb6
}
.fa-twitter {
	background:#00aced
}
.fa-google-plus {
	background:#dd4b39
}
*/
