

html, body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header-image {
	background-image: linear-gradient(rgba(0, 0, 1, 0.66), rgba(1, 1, 1, .97));
}

.hero-body {
	padding: 0px;
}

#resume-pdf {
	width: 100%;
	min-height: 200px;
	height: 200px;
	border-bottom: 2px ridge #F1F1F1;
}

#resume-pdf object {
	width: 100%;
	height: 100%;
}

#resume-pdf embed {
	width: 100%;
	height: 100%;
}

.is-nav-padded {
	padding-left: 150px;
	padding-right: 150px;
}

.iden {
	color: orange;
	border: solid green;
}

#page.scrollhid {
	width: 100%;
	height: 100%;
	overflow: auto;
	padding-right: 0px;
	/* exact in js */
}

html.scrollhid {
	overflow: hidden;
}

.copyver-padding {
	padding: 1px;
	padding-right: 5px;
}

.social-media-icons {
	padding: 0px;
	margin: 0px;
}

.social-media-icons .icon {
	display: inline-block;
	font-size: 42px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	vertical-align: top;
	width: 48px;
	padding: 0px;
	margin: 0px;
	margin-left: 6px;
	margin-right: 6px;
}

@media (max-width: 450px) {
	#name {
		font-size: 32px;
	}
	#job {
		font-size: 14px;
	}
}

@media (max-width: 350px) {
	#name {
		font-size: 26px;
	}
	#job {
		font-size: 12px;
	}
}

/* HACK to center icons without weird padding */

.social-media-icons .icon.is-center {
	margin-right: 0px;
	margin-left: 4px;
}

.social-media-icons span i {
	color: #c4d8f0;
	opacity: 0.65;
}

.social-media-icons span a i:hover {
	color: #3070b0;
	opacity: 1;
}


/*
.fa-facebook {
	background:#3b5998
}
.fa-linkedin {
	background:#007bb6
}
.fa-twitter {
	background:#00aced
}
.fa-google-plus {
	background:#dd4b39
}
*/
